
.country{
  padding: 1px;
  margin-top: 10px;
  border: 1px solid black;
  font-family: 	Copperplate;

}



.countryflag{
  display: block;
  width: 90%;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  
}


.submitbutton {

  border: 2px solid #e7e7e7;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}


.countryname{
  text-align: center;
  font-size: 30px;

  padding: 20px 30px;
  font-weight: lighter;
  background-color: black;
  color: aliceblue;


}

.countrybodybig{
  font-family: 	Copperplate;
  font-size: 25px;
  text-align: center;
  font-weight: 100;
  color: aliceblue;

}


